<!DOCTYPE html>
<html>
  <head>
    <title>RockPaperScissors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', media: 'all' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'hello_react' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
